.candidature-card {
  display: flex;
  flex-direction: row; /* Nouvelle ligne ajoutée */
  justify-content: space-between; /* Espacement entre les éléments */
  align-items: flex-start; /* Alignement à gauche */
  max-width: 75%;
  background-color: #ffffffba;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.095);
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: left; /* Alignement du texte à droite */
}

.candidature-card p {
  margin-bottom: 20px;
  color:#2F4F5A;
}

.candidature-card .tag_status {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}




@media (max-width: 768px) {
  .candidature-cards {
    max-width: 100%;
  }
}
