.input-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 1px;
  overflow: hidden;
  margin-bottom: 3px;
}

input {
  flex: 1;
  font-size: 1rem;
  

}

.input:focus, .input:hover {
    border: #FF735C solid 1px;
    
}

.password-toggle-button {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  svg {
    font-size: 1rem;
  }
}

.file-button {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  svg {
    font-size: 1.2rem;
  }
}