/* PasswordInput.css */
.input-password-div {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 29%;
}

.password-input {
  width: 70%;
  max-width: 300px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  position: relative;
}

.eye-icon {
  position: absolute;
  margin-left: 63%;
  cursor: pointer;
}

.password-input:focus {
  border-color: #ff735c;
}

/* Vous pouvez ajouter d'autres styles spécifiques au besoin */
