/* Postuler.css */
.postuler {
  padding: 20px;
  margin-top: 100px;
}
.postuler h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.postuler p {
  margin-bottom: 10px;
}

.tags {
  display: flex;
  margin-bottom: 10px;
}
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.title-postuler {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #ff735c;
}
.icon-postuler {
  font-size: 40px; /* Taille de l'icône */
  color: #ff735c; /* Couleur de l'icône */
}
.tag {
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
  background-color: #f0f0f0;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.postuler-button {
  width: 25%;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 25px;
  color: #2f4f5a;
  background-color: white;
  border-radius: 4px;
  margin: 10px 0 0 0;
  outline: none;
  border-color: #2f4f5a;
  cursor: pointer;
}

/* Responsive design */
@media (max-width: 768px) {
  .postuler-button {
    width: 100%;
  }
}
